<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create a celebrity!</a>
<a href="/celebrities">List of all the celebrities</a>
<hr/>
<a href="/movies/create">Create a new Movie</a>
<a href="/movies">List of all the movies</a>